#cloud-config
password: ubuntu
chpasswd:
  expire: false
ssh_pwauth: true
keyboard:
  layout: jp
timezone: Asia/Tokyo
package_update: true
package_upgrade: true
packages:
  - "ubuntu-desktop-minimal"
  - "docker.io"
  - "docker-compose-v2"
  - "docker-buildx"
  - "build-essential"

final_message: |
  cloud-init has finished
  version: $version
  timestamp: $timestamp
  datasource: $datasource
  uptime: $uptime
write_files:
  - content: |
      network:
        version: 2
        renderer: NetworkManager
    path: /etc/netplan/99-network-manager.yaml
    defer: true
runcmd:
  - usermod -aG docker ubuntu
